@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$base-ff: "Inter", sans-serif;

$color-palette: (
    "white": #fff,
    "black": #000,
    "grey-500": hsl(215, 17%, 45%),
    "grey-300": hsl(215, 43%, 77%),
    "blue-900": hsl(215, 31%, 21%),
    "blue-500": hsl(227, 92%, 58%),
    "blue-300": hsl(209, 69%, 82%),
    "blue-100": hsl(228, 94%, 94%),
    "gradient-blue": linear-gradiant(to right, hsl(183, 95%, 92%), hsl(216, 95%, 92%)),
    "shadow": 0px 0px 4px hsl(215, 43%, 77%)
);


$colors: (
    "gradient-bg": "gradient-blue",
    "primary": "blue-500",
    "heading": "blue-900",
    "text": "grey-500",
    "bg": "white",
    "focus": "blue-500",
);

$font-weight: (
    "bold": 700,
    "semi-bold": 600,
    "regular": 500,
);

$font-size: (
    '3xl': 6.4rem,
    '2xl': 4.8rem,
    'xl': 3.2rem,
    'lg': 2.4rem,
    'md': 2rem,
    "sm": 1.6rem,
    "xs": 1.4rem
);

$breakpoints: (
    "desktop": 1024px,
    "tablet": 600px
);


@function getColor($color) {
    @if (map.has-key($colors, $color)) {
        @return map.get($color-palette, map.get($colors, $color));
    } @else if(map.has-key($color-palette, $color)){
        @return map.get($color-palette, $color);
    } @else {
        @error "Invalid #{$color}. Check the color again.";
    }
}

@function getFont($typeKey) {
    @if(map.has-key($font-size, $typeKey)) {
        @return  map.get($font-size, $typeKey);
    } @else if (map.has-key($font-weight, $typeKey)) {
        @return map.get($font-weight, $typeKey);
    } @else {
        @error "Invalid #{$typeKey}. Must be either size or weight";
    }
}